@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=RocknRoll+One&display=swap");
body {
	box-sizing: border-box;
	font-size: 20px;
	color: gray;
	font-family: "Anonymous Pro", monospace;
	font-weight: 400;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
img {
	border-radius: 25px 0 25px 0;
}

.menu {
	padding: 20px 0 0 0;
	font-family: "Anonymous Pro", monospace;
	font-weight: 700;
	text-align: right;
	font-size: 20px;
}
.menu li {
	display: inline-block;
	padding: 5px;
}
a {
	color: gray;
	text-decoration: underline;
}
.header-img {
	display: block;
	margin: 0 auto 20px;
	border: 5px dotted black;
}
h1 {
	font-family: "RocknRoll One", sans-serif;
	text-shadow: 1px 1px 5px black;
	font-size: 65px;
	text-align: center;
	margin: 20px 0 20px 0;
}
h2 {
	font-family: "Anonymous Pro", monospace;
	font-weight: 700;
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 25px;
}
.text-who {
	margin: 0 auto;
	text-align: center;
	color: black;
	opacity: 0.7;
	text-indent: 20px;
	text-align: justify;
	border: inset 20px lightgrey;
	padding: 15px;
	margin-bottom: 35px;
}
.images {
	margin: 0 auto;
	max-width: 1000px;
}
.images img {
	margin: 20px;
	max-width: 400px;
	border: 5px dotted black;
}
.img_first {
	box-shadow: -15px -15px 15px gray;
}
.text-history {
	text-align: justify;
}
.block_text {
	max-width: 400px;
	color: slategrey;
	outline: 10px double red;
	padding: 10px;
	border-radius: 20px 0 20px 0;
	margin: 0 0 30px 0;
	box-shadow: -5px -5px 20px red;
}
.text-history-2 {
	margin: 0 0 30px 400px;
}
.text-history-3 {
	margin: 0 0 30px 800px;
}
.text-history-4 {
	margin: 0 0 30px 400px;
}
.block_vis_1 {
	visibility: hidden;
	margin-bottom: 10px;
}
.block_vis_3 {
	opacity: 0;
	margin-bottom: 10px;
}
.block_vis_2 {
	display: none;
}
